
.vs/ben/v15/Server/sqlite3/storage.ide-wal
.vs/ben/v15/Server/sqlite3/storage.ide-shm
.vs/ben/v15/Server/sqlite3/storage.ide
.vs/ben/v15/Server/sqlite3/db.lock
ben/obj/Debug/ben.csproj.CoreCompileInputs.cache
/build/*.pdb
/ben/obj
.vs/ben/v15/.suo
ben/bin/Debug/ben.pdb
build/bin/components/xpti.dat
build/bin/components/compreg.dat
/build2/Cache
/build2/*.pdb
/lib/obj
/lib/bin
/api/bin
/api/obj
/test/bin
/test/obj
.vs/ben/v14/.suo
/build2/node_modules
browser/.vs/browser/v15/Server/sqlite3/db.lock
browser/.vs/browser/v15/Server/sqlite3/storage.ide
browser/.vs/browser/v15/Server/sqlite3/storage.ide-shm
browser/.vs/browser/v15/Server/sqlite3/storage.ide-wal
browser/.vs/browser/v15/.suo
/build2/public/node_modules
browser/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
browser/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
browser/obj/x86/Debug/browser.pdb
browser/obj/x86/Debug/browser.exe
browser/obj/x86/Debug/browser.csprojResolveAssemblyReference.cache
browser/obj/x86/Debug/browser.csproj.GenerateResource.Cache
browser/obj/x86/Debug/browser.csproj.FileListAbsolute.txt
browser/obj/x86/Debug/browser.csproj.CoreCompileInputs.cache
browser/obj/x86/Debug/browser.csproj.CopyComplete
browser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
browser/obj/Debug/browser.csproj.CoreCompileInputs.cache
browser/.vs/browser/v14/.suo
build2/public/gulpfile.js
build2/public/package.json
build2/public/bower.json
build2/public/_/package.json
build2/public/_/gulpfile.js
build2/public/_/bower.json
build2/browser.vshost.exe.manifest
build2/browser.vshost.exe
/apigoogle/obj
libs/.vs/test-libcurl/v15/.suo
build2/test_libcurl.exe
/libs/test-libcurl/obj
libs/test-libcurl/.vs/test-libcurl/v15/Server/sqlite3/storage.ide-wal
libs/test-libcurl/.vs/test-libcurl/v15/Server/sqlite3/storage.ide-shm
libs/test-libcurl/.vs/test-libcurl/v15/Server/sqlite3/storage.ide
libs/test-libcurl/.vs/test-libcurl/v15/Server/sqlite3/db.lock
libs/test-libcurl/test-libcurl.csproj
build2/libcurl-post.txt
build2/libcurl-get.txt
build2/cookies.txt
libs/.vs/test-libcurl/v15/Server/sqlite3/storage.ide
libs/.vs/test-libcurl/v15/Server/sqlite3/db.lock
