
.vs/ben/v15/Server/sqlite3/storage.ide-wal
.vs/ben/v15/Server/sqlite3/storage.ide-shm
.vs/ben/v15/Server/sqlite3/storage.ide
.vs/ben/v15/Server/sqlite3/db.lock
ben/obj/Debug/ben.csproj.CoreCompileInputs.cache
/build/*.pdb
/ben/obj
.vs/ben/v15/.suo
ben/bin/Debug/ben.pdb
build/bin/components/xpti.dat
build/bin/components/compreg.dat
/build2/Cache
/build2/*.pdb
/lib/obj
/lib/bin
/api/bin
/api/obj
/test/bin
/test/obj
.vs/ben/v14/.suo
/build2/node_modules
browser/.vs/browser/v15/Server/sqlite3/db.lock
browser/.vs/browser/v15/Server/sqlite3/storage.ide
browser/.vs/browser/v15/Server/sqlite3/storage.ide-shm
browser/.vs/browser/v15/Server/sqlite3/storage.ide-wal
browser/.vs/browser/v15/.suo
